// Use the shared wxWidgets Windows manifest and embed the iTool application icon.
#include "wx/msw/wx.rc"
#include "version.h"

IDI_ITOOL_APP_ICON ICON "../../resources/windows/itool.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION ITOOL_VERSION_MAJOR,ITOOL_VERSION_MINOR,ITOOL_VERSION_PATCH,0
 PRODUCTVERSION ITOOL_VERSION_MAJOR,ITOOL_VERSION_MINOR,ITOOL_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "iTool\0"
            VALUE "FileDescription", "iTool\0"
            VALUE "FileVersion", ITOOL_VERSION_STRING "\0"
            VALUE "InternalName", "iTool\0"
            VALUE "OriginalFilename", "iTool.exe\0"
            VALUE "ProductName", "iTool\0"
            VALUE "ProductVersion", ITOOL_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
